<ion-card>
  <div>

    <ion-item lines="none" class="">
      <ion-thumbnail slot="start">
        <img src="assets/icon/favicon.png" alt="">
      </ion-thumbnail>

      <ion-label>
        Nikhil Agarwal

        <p>
          <ion-text color="dark">
            +49 8988300234
          </ion-text>
          </p>
      </ion-label>

      <ion-button slot="end" fill="clear" color="dark" size="large">
        <ion-icon slot="icon-only" name="chevron-forward-circle"></ion-icon>
      </ion-button>

    </ion-item>

    <ion-row>
      <ion-col size="4">
        <div align="start">
        <ion-label color="dark">Plan Expiry</ion-label>
          <p>
            <ion-text color="dark">
              01 Jun 2026
            </ion-text>
          </p>

        </div>
      </ion-col>

      <ion-col size="4">
        <div align="start">
          <ion-label color="dark">Day Remaining</ion-label>
          <p>
            <ion-text color="dark">
              100
            </ion-text>
          </p>

        </div>
      </ion-col>

      <ion-col size="4">
        <div align="start">
          <ion-label color="dark">Due Amount</ion-label>
          <p>
            <ion-text color="dark">
              $250
            </ion-text>
          </p>

        </div>
      </ion-col>
    </ion-row>

  </div>

</ion-card>
