
ion-header{
    background: var(--ion-color-secondary)
}

ion-header{
    ion-row {
        margin:0 10px 10px 10px;
        ion-col {
            div {
               border-radius: 5px;
               background: var(--ion-color-light);
               color: var(--ion-color-light-contrast);
               ion-select {
                align-self:center;
                font-size:0.75rem
                 }
            }


        }
    }
}



.md{
    ion-toolbar{
        ion-row {
            margin:5px 10px 10px 10px;
        }
    }
}

ion-content{
  ion-list{
    margin:1.5vh;
    background:transparent;
  }
}


